<head><title>Help center</title></head>
<body>
    <h1>User guide</h1>
    <a href="/"><h3>Return to home page</h3></a>
    Introduction: all 6 faces of the cube is displayed in 2 graphs, each representing 3 faces one can observe from one
     corner. The top side of the cube is topmost one of the first graph (red), the bottom side is the bottommost of the
     second graph (green), and the remainings are the 4 cube faces on the side. Yellow side is opposite to the magenta
     side, and blue is opposite to cyan. Z axis runs from top (red) to bottom (green), X axis from yellow to magenta,
     and Y axis from blue to cyan. Left and right rotation are with respect to the directions of each axis. <br>
    <img src="static/visual.png" alt="cube">
</body>